<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="StyleSheet" href="StyleSheetRU.css"/>
    <title></title>
    <link href="StyleSheetRU.css" rel="stylesheet"/>

</head>
<body>
    <div class="contenedor">

        <h1>Usuario creado con éxito <span>&#x1F609</span></h1>
        <h2>Clic en el botón para iniciar sesión </h2>
        <div class="elemento">
            <div class="elemento">
                <div class="elemento2">
                    <input type="submit" onclick="location.href='./Login.html'" value="INICIAR SESION">
                </div>
        </div>
    </div>
</body>
</html>