<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="StyleSheet" href="StyleSheetRU.css"/>
    <title></title>
    <link href="StyleSheetRU.css" rel="stylesheet"/>
 
</head>
<body>
    <div class="contenedor">

        <h1>Registro de usuario</h1>
        <h2>Por favor diligenciar todos los datos de registro</h2>
        <form id="forma" name="forma" method="GET" autocomplete="off">

            <div class="elemento">

                <label for="Nombre">Nombre</label>
                <input type="text" id="usuario" name="nombre" required="true"/>

                </div>
                <div class="elemento">
                    <label for="Apellido">Apellido</label>
                    <input type="text" id="Apellido" name="apellido" required="true"/>
                    </div>
                    <div class="elemento">
                        <label for="Cargo">Cargo</label>
                        <input type="text" id="Cargo" name="cargo" required="true"/>
                        </div>

                        <div class="elemento">
                            <label for="Nombre">Nombre de usuario</label>
                            <input type="text" id="usuario" name="usuario" required="true"/>
                            </div>
                            <div class="elemento">

                                <label for="password">Contraseña</label>
                                <input type="password" id="contrasena" name="contrasena" required=true/>
                                <div class="elemento">
 
                                    <div class="elemento2">
                                        <input type="submit" onclick="location.href='./CrearUsuario.html'" value="REGISTRAR USUARIO">
                                    </div>
            </div>
        </form>
    </div>
</body>
</html>