<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./StyleSheetTb.css" />

</head>

<body>
    <h2 class="titulo1">Matriz de Trazabilidad de Requirimiento de Software</h2>



    <div class="contenedor1">

        <table>

            <tr>

                <th class="titulo_tabla1">Lider Del Proyecto</th>
                <td>Erick Urbano</td>
                <th class="titulo_tabla1">Codigo Del Proyecto</th>
                <td>R00-001</td>

            </tr>

            <tr>
                <th class="titulo_tabla1">Cliente</th>
                <td>Carlos Martinez</td>
                <th class="titulo_tabla1">Titulo Del Proyecto</th>
                <td>Sistema Contable</td>

            </tr>

        </table>

        <br>
        <table>

            <tr>
                <th class="titulo_tabla2">Codigo</th>
                <th class="titulo_tabla2">Requerimientos</th>
                <th class="titulo_tabla2">Entradas</th>
                <th class="titulo_tabla2">Salidas</th>
                <th class="titulo_tabla2">Prioridad</th>
                <th class="titulo_tabla2">Desarrollador</th>
                <th class="titulo_tabla2">Estado</th>
                <th class="titulo_tabla2">Fecha De Entrega</th>
            </tr>

            <tr>
                <td>01</td>
                <td>Implementacion de FE</td>
                <td></td>
                <td></td>
                <td>Alta</td>
                <td>Mateo Garcia</td>
                <td>Completado</td>
                <td>17/08/2022</td>
            </tr>

            <tr>

                <td>02</td>
                <td>Conexión login con google</td>
                <td></td>
                <td></td>
                <td>Media</td>
                <td>Erick Urbano</td>
                <td>En desarrollo</td>
                <td>20/08/2022</td>

            </tr>

            <tr> 

                <td>03</td>
                <td>Exportación de reportes</td>
                <td></td>
                <td></td>
                <td>Baja</td>
                <td>Kevin</td>
                <td>Pendiente por variantes</td>
                <td>21/08/2022</td>

            </tr>
            <tr>
                <td>01</td>
                <td>Implementacion de FE</td>
                <td></td>
                <td></td>
                <td>Alta</td>
                <td>Mateo Garcia</td>
                <td>Completado</td>
                <td>17/08/2022</td>
            </tr>

            <tr>

                <td>02</td>
                <td>Conexión login con google</td>
                <td></td>
                <td></td>
                <td>Media</td>
                <td>Erick Urbano</td>
                <td>En desarrollo</td>
                <td>20/08/2022</td>
        
            </tr>
        <div >
            <tr >

                <td>03</td>
                <td>Exportación de reportes</td>
                <td></td>
                <td></td>
                <td>Baja</td>
                <td>Kevin</td>
                <td>Pendiente por variantes</td>
                <td>21/08/2022</td>

            </tr>
            <tr>
                <td>01</td>
                <td>Implementacion de FE</td>
                <td></td>
                <td></td>
                <td>Alta</td>
                <td>Mateo Garcia</td>
                <td>Completado</td>
                <td>17/08/2022</td>
            </tr>

            <tr>

                <td>02</td>
                <td>Conexión login con google</td>
                <td></td>
                <td></td>
                <td>Media</td>
                <td>Erick Urbano</td>
                <td>En desarrollo</td>
                <td>20/08/2022</td>

            </tr>

            <tr>

                <td>03</td>
                <td>Exportación de reportes</td>
                <td></td>
                <td></td>
                <td>Baja</td>
                <td>Kevin</td>
                <td>Pendiente por variantes</td>
                <td>21/08/2022</td>


            </tr>
        </div> 
        </table>
    </div>
    <br>
    <div class="contenedor2">
        <input class="btn_volver" onclick="location.href='./proyecto_v1.html'" type="button" value="Volver">



    </div>
</body>



</html>